@import "../../styles/variables.scss";

.titleTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroTitle {
  color: var(--fountain-blue);
}

.heroSubTitle {
  color: var(--grey);
}

.filler {
  width: 100%;
  height: 400px;
  background-color: rgba(var(--grey), 0.4);
}
