@import "../../styles/utils.scss";

.titleTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroTitle {
  color: var(--fountain-blue);
}

.heroSubTitle {
  color: var(--grey);
}

.filler {
  width: 100%;
  height: 400px;
  background-color: var(--filler-bg);
}

.pullquote {
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  line-height: 1.56;
  text-align: center;
  color: var(--grey);
  margin: var(--space-l5) 0;

  @include respond-above(md) {
    text-align: left;
  }
}
