@import "../../globalVariables.scss";

.container {
  background-color: white;
  h4 {
    color: $dark-orange;
  }

  h3 {
    color: $light-blue;
  }
  composes: container from global;
}

.row {
  composes: row from global;
}

.columnTextContainer {
  max-width: 325px;
}

.columnText {
  color: $dark-blue;
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .columnContainer {
      margin-top: #{nth((24, 36, 48, 48, 48), $idx)}px;
    }

    .columnsContainer {
      margin-bottom: #{nth((24, 36, 48, 48, 48), $idx)}px;
    }
  }
}
