@import "../../globalVariables.scss";

.container {
  background-color: white;
}

.row {
  padding-top: 128px;
  padding-bottom: 128px;
}

.container h4 {
  color: $dark-orange;
}

.container h3 {
  color: $light-blue;
}
