@import "../../globalVariables.scss";

.container {
  background-color: $dark-blue;
  h4 {
    color: $dark-orange;
  }

  h3 {
    color: white;
  }
  composes: container from global;
}

.chartTitle {
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
}

.row {
  composes: row from global;
}

.bubblesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .bubblesContainer {
      justify-content: #{nth(
          (
            space-around,
            space-around,
            space-around,
            space-between,
            space-between
          ),
          $idx
        )};

      flex-direction: #{nth((column, column, column, row, row), $idx)};
    }

    .bubbleContainer {
      margin-top: #{nth((24, 24, 24, 48, 48), $idx)}px;
      margin-bottom: #{nth((24, 24, 24, 48, 48), $idx)}px;
    }
  }
}

.disclaimer {
  color: white;
}
