@import "../../globalVariables.scss";

.container {
  background-color: white;
  h4 {
    color: $dark-orange;
  }

  h3 {
    color: $light-blue;
  }
  composes: container from global;
}

.row {
  composes: row from global;
}

.columnsContainer {
  padding-top: 48px;
  padding-bottom: 48px;
}

.columnText {
  color: $dark-blue;
}
