@import "../../globalVariables.scss";

.container {
  background-color: $dark-orange;
  padding-top: $section-vertical-padding;
  padding-bottom: $section-vertical-padding;
  h3 {
    color: $light-blue;
  }
  composes: container from global;
}

.row {
  composes: row from global;
}

.pairContainer {
  position: relative;
}

.itemVerticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.itemLeft {
  left: 0;
}

.itemRight {
  right: 0;
}
