@import "../../globalVariables.scss";

.row {
  composes: row from global;
}

.heroHeader {
  color: $light-blue;
}

.heroContainer {
  position: relative;
}

.heroChildren {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.scrollImageContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 8px 48px;

  img {
    height: 31px;
    width: 30px;
  }
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .parallaxBanner {
      height: #{nth((480, 480, 800, 800, 800), $idx)}px !important;
    }

    .heroHeader {
      margin-top: #{nth((32, 32, 78, 78, 117), $idx)}px;
    }

    .scrollImageContainer {
      bottom: #{nth((16, 16, 32, 32, 32), $idx)}px;
    }
  }
}
