@import "../../globalVariables.scss";

.container {
  background-color: $dark-orange;
  h3 {
    color: $light-blue;
  }
  composes: container from global;
}

.row {
  composes: row from global;
}

.imgContainer {
  width: 100%;
  height: 440px;
  background-size: cover;
  background-position: 50% 25%;
}

@media only screen and (min-width: 1200px) {
  .pairContainer {
    position: relative;
  }

  .itemVerticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .itemLeft {
    left: 0;
  }

  .itemRight {
    right: 0;
  }

  .imgContainer {
    height: 720px;
    max-width: 640px;
  }

  .right {
    float: right;
  }
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .spacer {
      height: #{nth((24, 24, 24, 64, 128), $idx)}px;
    }
  }
}
