@import "../../globalVariables.scss";

.container {
  background-color: $dark-blue;
  h4 {
    color: $dark-orange;
  }

  h3 {
    color: white;
  }
  composes: container from global;
}

.chartTitle {
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
}

.row {
  composes: row from global;
}

.bubblesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .bubblesContainer {
      justify-content: #{nth(
          (
            space-around,
            space-around,
            space-around,
            space-between,
            space-between
          ),
          $idx
        )};

      flex-direction: #{nth((column, column, column, row, row), $idx)};
    }

    .bubbleContainer {
      margin-top: #{nth((24, 24, 24, 48, 48), $idx)}px;
      margin-bottom: #{nth((24, 24, 24, 48, 48), $idx)}px;
    }

    .spacer {
      height: #{nth((24, 24, 24, 64, 128), $idx)}px;
    }

    .whiteBubble {
      $whiteBubbleHeights: (86, 86, 86, 112, 156);
      height: #{nth($whiteBubbleHeights, $idx)}px;
      width: #{nth($whiteBubbleHeights, $idx)}px;
      font-size: #{nth($whiteBubbleHeights, $idx) / 3.5}px;
      color: $dark-blue;
    }

    .darkBlueBubble {
      $darkBlueBubbleHeights: (180, 180, 180, 238, 329);
      height: #{nth($darkBlueBubbleHeights, $idx)}px;
      width: #{nth($darkBlueBubbleHeights, $idx)}px;
      font-size: #{nth($darkBlueBubbleHeights, $idx) / 3.5}px;
      color: white;
    }

    .skyBlueBubble {
      $skyBlueBubbleHeights: (145, 145, 145, 190, 264);
      height: #{nth($skyBlueBubbleHeights, $idx)}px;
      width: #{nth($skyBlueBubbleHeights, $idx)}px;
      font-size: #{nth($skyBlueBubbleHeights, $idx) / 3.5}px;
      color: $dark-blue;
    }
  }
}

.disclaimer {
  color: white;
}
