@import "../../globalVariables.scss";

.container {
  background-color: $sky-blue;
  h4 {
    color: $dark-blue;
  }

  h1 {
    color: $light-blue;
  }
  composes: container from global;
}

.row {
  composes: row from global;
}
