@import "../../globalVariables.scss";

.container {
  background-color: $dark-blue;
  h4 {
    color: $dark-orange;
  }

  h3 {
    color: $light-blue;
  }
  composes: container from global;
}

.row {
  composes: row from global;
}

.columnText {
  color: white;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
