@import "../../globalVariables.scss";

.container {
  background-color: $light-blue;
  h1 {
    color: white;
  }
  composes: container from global;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  composes: row from global;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .iconContainer {
      img {
        height: #{nth((45, 45, 45, 60, 81), $idx)}px;
      }
    }
  }
}
