@import "../../globalVariables.scss";

.container {
  position: relative;
  background-size: cover;
  background-position: center;
  padding-top: 0px !important;
  padding-bottom: 0px;
  composes: container from global;
}

.row {
  composes: row from global;
  width: 100%;
  max-width: unset !important;
}

.heroHeader {
  color: $light-blue;
}

.scrollImageContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 8px 48px;

  img {
    height: 31px;
    width: 30px;
  }
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .container {
      height: #{nth((480, 480, 800, 800, 800), $idx)}px;
    }

    .heroHeader {
      margin-top: #{nth((32, 32, 78, 78, 117), $idx)}px;
    }

    .scrollImageContainer {
      bottom: #{nth((16, 16, 32, 32, 32), $idx)}px;
    }
  }
}
