@import "../../globalVariables.scss";

.container {
  background-color: $light-blue;
  h1 {
    color: $sky-blue;
  }
  composes: container from global;
}

.row {
  composes: row from global;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
