@import "../../globalVariables.scss";

.container {
  background-color: white;
  h4 {
    color: $dark-orange;
  }

  h3 {
    color: $light-blue;
  }

  composes: container from global;
}

.row {
  padding-top: 128px;
  padding-bottom: 128px;
  composes: row from global;
}
