@import "../../globalVariables.scss";

.container {
  background-size: cover;
  background-position: center;
  composes: container from global;
}

.heroHeader {
  color: $light-blue;
  margin-top: 117px;
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .container {
      height: #{nth((480, 480, 800, 800, 800), $idx)}px;
    }
  }
}
