@import "../../globalVariables.scss";

.container {
  background-color: white;
  h4 {
    color: $dark-orange;
  }

  h3 {
    color: $light-blue;
  }
  composes: container from global;
}

.row {
  composes: row from global;
}

.partnerImage {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
}
