.link {
  transition: color 0.3s ease;
  display: inline-block;
  text-decoration: none;

  &::after {
    transition: transform 0.3s ease-out;
    content: "";
    display: inline-block;
    position: relative;
    left: 0.25em;
    top: 0.7775em;
    height: 0.45em;
    width: 0.45em;
    transform: rotate(45deg);
    vertical-align: top;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
  }

  &:hover::after {
    transition-timing-function: ease-in;
    transform: rotate(45deg) translate(0.15em, -0.15em);
  }
}
