.articleContainer {
  padding: var(--space-l5) 0;
}

.newsArticle {
  white-space: pre-line;

  h1 {
    margin-bottom: 1rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0.5rem;
  }
}

.articleListLink {
  transition: color 0.3s ease;
  display: inline-block;
  text-decoration: none;
  position: relative;
  left: -0.4em;

  &::before {
    transition: transform 0.3s ease-out;
    content: "";
    display: inline-block;
    position: relative;
    left: -0.15em;
    top: 0.675em;
    height: 0.45em;
    width: 0.45em;
    transform: rotate(-135deg);
    vertical-align: top;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
  }

  &:hover::before {
    transition-timing-function: ease-in;
    transform: rotate(-135deg) translate(0.1em, -0.1em);
  }
}
