@import "../../styles/utils.scss";

.heroContainer {
  padding: 6em 0;

  @include respond-below(md) {
    background-image: none !important;
  }

  @include respond-above(md) {
    padding: 9.75em 0;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 50% auto;
  }
}

.heroTextContainer {
  text-align: center;

  h1 {
    color: var(--fountain-blue);
    margin-bottom: 0.5em;
  }

  p {
    color: var(--grey);
  }

  @include respond-above(md) {
    text-align: left;
  }
}

.imageDivider {
  margin-bottom: var(--space-l5);

  @supports (object-fit: cover) {
    object-fit: cover;
    height: calc(50vw);
    min-height: 10em;
    max-height: 40em;
  }
}

.infoSection1ColText {
  text-align: center;
  margin-bottom: 3em;

  h2 {
    margin-bottom: 0.67em;
    color: var(--grey);
  }

  p {
    margin-bottom: 1.33em;
    color: var(--grey);
  }

  @include respond-above(md) {
    text-align: left;
  }

  @include respond-above(lg) {
    margin-bottom: 0;
  }
}

.infoSectionColImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSectionImage {
  z-index: 2;
  width: 100%;
  border-radius: 0.5rem;
}

@include respond-above(md) {
  .dingusDot {
    position: absolute;
    left: -2rem;
    height: 10rem;
    width: 10rem;
    background-color: var(--burnt-sienna);
    border-radius: 50%;

    @include respond-above(lg) {
      left: -5rem;
    }
  }
}

.infoSection1Row {
  margin-bottom: var(--space-l5);

  @include respond-above(lg) {
    flex-direction: row-reverse;
  }
}
