.link {
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  display: inline-block;
  color: var(--gigas);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  min-width: 6.25em;
  text-decoration: none;
  padding: 0.85em 2em;
  border: 1px solid transparent;
  border-radius: 2em;
  background-color: var(--gigas-10);

  &:hover {
    color: var(--black);
    background-color: var(--gigas-40);
  }

  &:active,
  &:focus {
    border-color: var(--gigas);
  }
}
