@import "../../styles/utils.scss";

.contactSection {
  margin-top: 6rem;
  text-align: center;

  &:last-child {
    margin-top: var(--space-l3);
  }

  @include respond-above(md) {
    text-align: left;

    &:last-child {
      margin-top: 6rem;
    }
  }
}

.contactForm {
  h2,
  input,
  textarea {
    margin-bottom: var(--space-l2);
  }

  form {
    text-align: left;
  }

  label {
    display: inline-block;
    color: var(--grey);
    margin-bottom: var(--space-l1);
  }

  input,
  textarea {
    width: 100%;
  }

  input[name="bdaySurprise"] {
    width: auto;
  }
}

.errorText,
.successText {
  margin-top: var(--space-l3);

  a {
    color: var(--gigas);
  }
}

.submitButtonWrapper {
  text-align: center;

  @include respond-above(md) {
    text-align: left;
  }
}

.contactInfo {
  address a {
    font-size: 1.125rem;
    font-style: normal;
    text-decoration: none;
    color: var(--grey);
  }
}

.contactInfoSection {
  margin-top: var(--space-l3);
}

.dingusDotContainer {
  padding-top: var(--space-l5);
  overflow-x: hidden;
  padding-top: 0;
}

.dingusDotRelative {
  position: relative;
}

.mapEmbed {
  height: auto !important;
  min-height: 8rem;
  background-color: var(--grey-40);
  border-radius: 0.5rem;

  @include respond-above(md) {
    min-height: 8rem;
  }

  @include respond-above(lg) {
    min-height: 12rem;
  }
}

.mapLinks {
  font-size: 1em;
  text-align: center;
  margin-top: var(--space-l1);

  @include respond-above(md) {
    text-align: left;
  }

  a {
    color: var(--grey);
  }
}

.dingusDot {
  position: absolute;
  z-index: -1;
  top: 0.5rem;
  right: -2rem;
  height: 8rem;
  width: 8rem;
  background-color: var(--burnt-sienna);
  border-radius: 50%;

  @include respond-above(lg) {
    top: 2rem;
    right: -5rem;
  }
}

.imageDivider {
  width: 100%;
  margin-top: var(--space-l5);

  @supports (object-fit: cover) {
    object-fit: cover;
    max-height: 75vh;
  }
}
