.input {
  transition: border-color 0.3s ease, color 0.3s ease;
  font-size: 1em;
  color: var(--grey);
  object-fit: contain;
  background-color: var(--white);
  padding: 0.85em 1em;
  border: solid 1px var(--grey-40);
  border-radius: 0.25em;

  &:active,
  &:focus {
    color: var(--gigas);
    border-color: var(--gigas);
    outline: none;
  }
}
