@import "../../components/styles/utils.scss";

.articlePage {
  margin: var(--space-l5) auto 0;

  h1 {
    margin-bottom: 3rem;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
}

.articleList {
  margin-bottom: var(--space-l4);
}

.indexArticle + .indexArticle {
  margin-top: var(--space-l3);

  @include respond-above(md) {
    margin-top: 0;
  }
}

.pagination {
  margin-top: var(--space-l3);
}

.pageList {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline;
    padding: 0 var(--space-l1);

    a {
      color: var(--grey);
      text-decoration: none;

      &:global(.active) {
        font-weight: 700;
        color: var(--gigas);
      }
    }
  }
}
