@import "../../components/styles/utils.scss";

.articleContainer {
	padding: var(--space-l5) 0;
}

.newsArticle {
	white-space: pre-line;

	h1,
	p {
		margin-bottom: 1rem;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0.5rem;
	}

	p,
	pre,
	ul,
	li {
		color: var(--grey);
		font-size: 1.125rem;
	}

	hr {
		border: none;
		border-top: 1px solid var(--filler-bg);
	}

	a {
		color: var(--fountain-blue);
	}

	li {
		line-height: 1.5;
	}

	img {
		max-width: 100%;
		height: auto;
		margin: var(--space-l1) 0;
	}
}

.articleListLinkContainer {
	padding-bottom: 3rem;
}

a.articleListLink {
	transition: color 0.3s ease;
	display: inline-block;
	color: var(--grey);
	text-decoration: none;

	@include respond-above(lg) {
		position: relative;
		left: -0.4em;
	}

	&::before {
		transition: transform 0.3s ease-out;
		content: "";
		display: inline-block;
		position: relative;
		left: -0.15em;
		top: 0.675em;
		height: 0.45em;
		width: 0.45em;
		transform: rotate(-135deg);
		vertical-align: top;
		border-style: solid;
		border-width: 0.1em 0.1em 0 0;
	}

	&:hover::before {
		transition-timing-function: ease-in;
		transform: rotate(-135deg) translate(0.1em, -0.1em);
	}
}
