// == LAYOUT ==

/*
Extra small devices, Phone (<md)
Small devices, Tablet (>=md)
Medium devices, Desktop (>=lg)
Large devices, Desktop (>= xl)
*/

$grid-bp-xs: 0;
$grid-bp-sm: 320;
$grid-bp-md: 736;
$grid-bp-lg: 1024; // max context width
$grid-bp-xl: 1200;

$max-width: $grid-bp-lg;
$grid-cols: 12;
$gutter: 24;

$breakpoints: (
  "xs": $grid-bp-xs,
  "sm": $grid-bp-sm,
  "md": $grid-bp-md,
  "lg": $grid-bp-lg,
  "xl": $grid-bp-xl
);

// == COLORS ==
// Additional variables imported from /src/lib/theme.json.
