@import "../styles/utils.scss";

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  flex-direction: row;
  background-color: var(--white);
}

.activeLink {
  color: var(--gigas) !important;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  max-width: $max-width-em;
  padding: 1.5rem 0.75rem;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding-left: env(safe-area-inset-left);

  a {
    position: relative;
    height: 100%;
    color: inherit;
    text-decoration: none;

    &::after {
      content: "";
      transition: background-color 0.3s ease, border-color 0.3s ease;
      z-index: -1;
      position: absolute;
      top: -0.65em;
      bottom: -0.65em;
      left: -0.65em;
      right: -0.65em;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.5rem;
    }

    &:hover,
    &:focus {
      &::after {
        background-color: var(--alabaster);
      }
    }

    &:focus {
      outline: none;

      &::after {
        border-color: var(--gigas);
      }
    }
  }

  img {
    display: block;
    height: 100%;
    width: auto;
  }
}

.nav {
  padding-right: env(safe-area-inset-right);

  @include respond-above(lg) {
    width: 100%;
  }
}

.menuIcon {
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;

  @include respond-above(lg) {
    display: none;
  }

  &:hover {
    background-color: var(--alabaster);
  }

  &:active,
  &:focus {
    background-color: var(--alabaster);
    border-color: var(--gigas);
    outline: none;
  }
}

.list {
  transition: max-height 0s ease;
  transition-delay: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin: 0;

  &::before {
    content: "";
    z-index: -1;
    transition: transform 0.25s ease-in;
    transition-delay: 0.25s;
    transform: scaleY(0);
    transform-origin: top;
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white);
  }

  li {
    transition: transform 0.25s ease-in, opacity 0.25s ease;
    transition-delay: 0s;
    transform: translateY(-2rem);
    opacity: 0;
  }

  .bottomMenuLink {
    transition: transform 0.25s ease-in, opacity 0.25s ease,
      background-color 1s ease;
    transition-delay: 0.25s;
    transform: translateY(10rem);
    opacity: 0;
  }

  &[hidden] {
    display: flex;
    max-height: 0;
    overflow: hidden;
    padding: 0;
  }

  &:not([hidden]) {
    transition-duration: 0s;
    transition-delay: 0s;
    display: flex;
    max-height: 100%;

    &::before {
      transition-timing-function: ease-out;
      transition-delay: 0s;
      transform: scaleY(1);
    }

    li {
      transition-timing-function: ease;
      transition-delay: 0.25s;
      transform: translateY(0);
      opacity: 1;
    }

    .bottomMenuLink {
      transition-timing-function: ease-out, ease, ease;
      transition-delay: 0s;
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include respond-below(lg) {
    @media (min-height: 40em) {
      padding-top: var(--space-l3);
    }
  }

  @include respond-above(lg) {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    background-color: transparent;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  li {
    display: block;
    color: var(--grey);

    @include respond-above(lg) {
      transition: none;
      display: inline;
      padding: 0 var(--space-l2);
    }

    &:last-of-type {
      padding-right: 0;
    }

    a {
      transition: color 0.3s ease;
      color: inherit;
      text-decoration: none;

      @include respond-above(lg) {
        font-size: 1.125rem;
      }
    }

    a:hover {
      color: var(--gigas);
    }
  }
}

.bottomMenuLink {
  @include respond-above(lg) {
    display: none;
  }

  :global {
    .row {
      padding: 1rem 0;

      @supports (padding-bottom: env(safe-area-inset-bottom)) {
        padding-bottom: calc(1rem + env(safe-area-inset-bottom));
      }

      @media (min-height: 40em) {
        padding: 3rem 0;

        @supports (padding-bottom: env(safe-area-inset-bottom)) {
          padding-bottom: calc(3rem + env(safe-area-inset-bottom));
        }
      }
    }
  }
}
