@import "../globalVariables.scss";

.container {
  background-color: white;
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  z-index: 1000;
}

.activeLink {
  color: $dark-orange !important;
  font-weight: bold;
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .container {
      height: #{nth($header-height, $idx)}px;
    }

    .logoContainer {
      height: #{nth($header-height, $idx)}px;
    }

    .row {
      padding-left: #{nth((32, 32, 32, 32, 128), $idx)}px;
      padding-right: #{nth((32, 32, 32, 32, 128), $idx)}px;
    }

    .logo-image {
      width: #{nth((160, 160, 160, 160, 212.7), $idx)}px;
    }
  }
}

// Mobile

.row {
  margin: 0 auto 0 auto;
  flex: 1;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;

  li {
    margin-top: 64px;
    margin-left: 32px;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    color: $dark-blue;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

nav {
  ul {
    margin: 0px;
  }
}

.navContainer {
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.menuToggleContainer {
  position: absolute;
  right: 32px;
  top: 28px;
  cursor: pointer;
}

.show {
  display: block;
}

.showContainer {
  height: 100%;
}

.hide {
  display: none;
}

// Desktop

@media only screen and (min-width: 1200px) {
  .row {
    flex-direction: row;
    align-items: center;
  }

  .menuToggleContainer {
    display: none;
  }

  .hide {
    display: block;
  }

  .showContainer {
    height: unset;
  }

  .list {
    flex-direction: row;
    justify-content: flex-end;

    li {
      margin-top: 0px;
      margin-left: 48px;
      font-size: 18px;
      font-weight: normal;
    }
  }

  nav {
    height: 100%;
  }
}
