@import "../globalVariables.scss";

nav {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: flex-end;
}

nav > ul {
  margin: 0px;
}

.container {
  height: $header-height;
  background-color: white;
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  z-index: 1000;
}

.row {
  margin: auto;
  flex: 1;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.list > li {
  margin-left: 48px;
  color: $dark-blue;
  font-size: 18px;
  letter-spacing: normal;
}

.activeLink {
  color: $dark-orange !important;
  font-weight: bold;
}

@each $name, $breakpoint in $breakpoints {
  @media only screen and (min-width: $breakpoint) {
    $idx: index($breakpoints, ($name $breakpoint));

    .container {
      height: #{nth($header-height, $idx)}px;
    }

    .row {
      padding-left: #{nth((32, 32, 32, 32, 128), $idx) - $gutter/2}px;
      padding-right: #{nth((32, 32, 32, 32, 128), $idx) - $gutter/2}px;
    }

    .logo-image {
      width: #{nth((160, 160, 160, 160, 212.7), $idx)}px;
    }
  }
}
