@import "./styles/utils.scss";

body {
  background-color: var(--alabaster);
}

.routesContainer {
  margin-top: var(--mobile-header-height);
}

@include respond-above(lg) {
  .routesContainer {
    margin-top: var(--desktop-header-height);
  }
}
