@import "./globalNormalize.scss";
@import "./globalVariables.scss";

// LAYOUT

:global {
  *,
  *:after,
  *:before {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .row:before,
  .row:after {
    content: "";
    display: table;
    clear: both;
    width: 0px;
  }

  [class*="col-"] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: 0 #{$gutter/2}px;
  }

  .container {
    width: 100%;
    margin: auto;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  // Responsive
  @each $name, $breakpoint in $breakpoints {
    @media only screen and (min-width: $breakpoint) {
      $idx: index($breakpoints, ($name $breakpoint));
      // Grid sizing
      @for $i from 1 through 12 {
        .col-#{$name}-#{$i} {
          width: $i/$columnNo * 100%;
        }
      }
    }
  }
}
