@import "../styles/utils.scss";

.footerContainer {
  border-top: 1px solid var(--grey-40);
}

.footerRow {
  margin: 0 auto 0 auto;
}

.linkContainer {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
}

.linkList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  text-align: center;

  li {
    margin-bottom: 24px;
    color: var(--grey);

    a {
      transition: color 0.3s ease;
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: var(--gigas);
    }
  }
}

.activeLink {
  color: var(--gigas) !important;
}

.backToTopTablet {
  display: none;
}

.infoContainer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  p {
    color: var(--grey-40);
  }
}

.copyrightText {
  margin-top: 20px;
}

.backToTopContainer {
  margin-top: 48px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a {
    transition: color 0.3s ease;
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: var(--gigas);
  }
}

.backToTopIcon {
  margin-left: 16px;
}

// == TABLET ==

@include respond-above(md) {
  .footerContainer {
    height: var(--tablet-footer-height);
  }

  .linkContainer {
    margin-top: 46px;
  }

  .linkList {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;

    li {
      margin-right: 55px;
      margin-bottom: 0;
    }
  }

  .backToTopTablet {
    margin-left: auto;
    display: block;
    margin-right: 0 !important;
  }

  .backToTopContainer {
    display: none;
  }

  .infoContainer {
    margin-top: 24px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .copyrightText {
    margin-top: 0;
    margin-left: auto;
  }
}
