@import "../styles/utils.scss";

.footerContainer {
  border-top: 1px solid var(--grey);
  margin: 0 auto 0 auto;
  max-width: $max-width-em;
}

.linkContainer {
  margin: 94px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkList {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin: 0 auto 0 auto;

  li {
    margin: 0 0 24px 0;
    color: var(--grey);

    a {
      transition: color 0.3s ease;
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: var(--gigas);
    }
  }
}

.activeLink {
  color: var(--gigas) !important;
}

.infoContainer {
  margin: 24px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  p {
    color: var(--grey-40);
  }
}

.copyrightText {
  margin: 20px 0 0 0;
}

.backToTopContainer {
  margin: 48px 0 50px 0;
}
