@import "../../styles/utils.scss";

.row {
  margin: var(--space-l5) 0;
}

.description {
  text-align: center;

  h2 {
    margin-bottom: 1.5em;
  }

  p {
    margin-bottom: 3em;
  }

  @include respond-above(lg) {
    text-align: left;

    p {
      margin-bottom: 0;
    }
  }
}

.form {
  display: flex;
  flex-wrap: wrap;

  label {
    display: block;
    width: 100%;
    color: var(--grey);
    margin-bottom: var(--space-l1);
  }

  input {
    display: block;
    width: 100%;
  }

  input[name="bdaySurprise"] {
    width: auto;
  }

  .formBlock {
    width: 90%;
    margin: 0 auto 1.5em;
    text-align: left;

    @include respond-above(md) {
      width: 47.5%;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(2) {
        margin-right: 0;
      }

      &:last-child {
        align-self: flex-start;
        width: auto;
        margin-left: 0;
      }
    }

    @include respond-above(lg) {
      width: 100%;
    }
  }

  button {
    display: block;
    margin: 0 auto;

    @include respond-above(md) {
      flex: 100%;
      margin: 0 0 0 auto;
    }
  }
}

.action {
  font-size: 1.125em;
  text-align: center;
}

.successText {
  align-self: flex-end;
}
