@import "../../styles/utils.scss";

.container {
  background-color: var(--gigas);
}

.textContainer {
  text-align: center;
  padding: 6rem 0;
  color: var(--white);

  p {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 2;
    color: inherit;
  }

  @include respond-above(md) {
    text-align: left;
  }
}
