@import "../../styles/utils.scss";

.col {
  text-align: center;
  margin-bottom: var(--space-l4);

  @include respond-above(md) {
    text-align: left;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: var(--space-l2);
  }

  p {
    margin-bottom: var(--space-l2);
  }
}

.colIcon {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: var(--space-l2);
}

.colLearnMore {
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  color: var(--fountain-blue);

  &::after {
    transition: transform 0.3s ease-out;
    content: "";
    display: inline-block;
    position: relative;
    left: 0.25em;
    top: 0.7775em;
    height: 0.45em;
    width: 0.45em;
    transform: rotate(45deg);
    vertical-align: top;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
  }

  &:hover::after {
    transition-timing-function: ease-in;
    transform: rotate(45deg) translate(0.15em, -0.15em);
  }
}
