@import "../../globalVariables.scss";

.container {
  width: 100%;
  background-color: white;
}

.row {
  padding: 32px;
}

.infoText {
  color: $dark-blue;
}

.titleText {
  line-height: 1.2 !important;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 640px;
  }

  .row {
    padding: 48px 96px 48px 48px;
  }
}

// @each $name, $breakpoint in $breakpoints {
//   @media only screen and (min-width: $breakpoint) {
//     $idx: index($breakpoints, ($name $breakpoint));

//     .spacer {
//       height: #{nth((24, 24, 24, 64, 128), $idx)}px;
//     }
//   }}
