@import "../../styles/utils.scss";

.heroContainer {
  padding: 6em 0;
}

.heroTextContainer {
  text-align: center;
  position: relative;

  h1 {
    color: var(--fountain-blue);
    margin-bottom: 0.5em;
  }

  p {
    color: var(--grey);
  }

  @include respond-above(md) {
    text-align: left;
  }
}

.dingusDotContainer {
  position: relative;
  overflow-x: hidden;
}

.dingusDot {
  display: none;
  z-index: -1;
  position: absolute;
  top: calc(50% - 5rem);
  height: 10rem;
  width: 10rem;
  background-color: var(--casablanca);
  border-radius: 50%;

  @include respond-above(md) {
    display: block;
    right: -5rem;
  }
}
