@import "../../styles/utils.scss";

.coverSheet {
  position: relative;
  z-index: 99; // Below header menu (z=100)
  height: calc(100vh - var(--header-height));
  background-color: var(--fountain-blue);
  padding: var(--space-l3) 0;
  margin-top: var(--header-height);

  @include respond-above(lg) {
    height: 100vh;
    z-index: 101; // Above header menu (z=100)
    margin-top: 0;
  }

  :global(.container) {
    height: 100%;
  }
}

.coverSheetContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.logo {
  display: none;

  @include respond-above(lg) {
    display: block;
  }
}

.text {
  width: 100%;

  h1 {
    color: var(--white);
    white-space: pre-line;
    max-width: 40rem;

    &::after {
      content: "\00ae"; // Registered mark.
      font-size: 0.5em;
      vertical-align: super;
    }
  }

  p {
    color: var(--white-40);
    margin-top: var(--space-l2);
  }
}

.scrollButton {
  display: inline-block;
  background: none;
  padding: 0 var(--space-l2);
  border: none;
  margin: var(--space-l2) auto 0;
  cursor: pointer;

  // The padding below the button is a total hack to improve
  // the chances of the button beling visible on modern iPhones.
  @media (width: 375px) and (height: 812px),
    (width: 414px) and (height: 896px) {
    padding-bottom: calc(5rem + var(--space-l1));
  }

  &:hover .arrow {
    opacity: 0.4;
  }

  &:focus {
    outline: none;

    .arrow {
      opacity: 0.1;
    }
  }

  &::before {
    animation: coverScrollHintReveal 0.75s ease-out 2s forwards;
    content: "scroll to continue";
    display: block;
    font-size: 1.125rem;
    color: var(--white-40);
    opacity: 0;
    margin-bottom: var(--space-l2);
  }
}

@keyframes coverScrollHintReveal {
  from {
    transform: translateY(1rem);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.arrow {
  transition: opacity 0.3s ease;
  animation: coverScrollBounce 1s ease-in-out 2.75s infinite;
}

@keyframes coverScrollBounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25%,
  75% {
    transform: translateY(0.25rem);
  }
}
