.container {
  transition: background-color 1s ease;
  background-color: var(--fountain-blue-10);
}

.row {
  text-align: center;
  padding: 6rem 0;
}

.link {
  font-size: 1.5em;
  line-height: 2;
  color: var(--fountain-blue);
}

.container:hover {
  background-color: var(--fountain-blue-40);

  .link {
    color: #3d9898;

    &::after {
      transition-timing-function: ease-in;
      transform: rotate(45deg) translate(0.15em, -0.15em);
    }
  }
}
