$beige: #d9e5d6;
$blue: #00a7e1;
$cream: #eddea4;
$salmon: #f7a072;
$orange: #ff9b42;

.container {
  background-color: $beige;
  composes: container from global;
}

.row {
  background-color: $cream;
  composes: row from global;

  > div {
    background-color: $salmon;
    border: 1px black solid;
  }
}
